.logoutButton,
.profileButton,
.buttonMainColor,
.navButton {
  --tw-ease: var(--ease-in) /* cubic-bezier(0.4, 0, 1, 1) */;
  transition-timing-function: var(--ease-in);
  --tw-duration: 100ms;
  transition-duration: 100ms;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: var(--color-red-800);
}

.profileButton:hover {
  background-color: var(--color-gray-700);
}
.buttonMainColor:hover {
  background-color: var(--color-red-500);
}
.navButton:hover {
  background-color: #ffffff;
  color: var(--main-themecolor);
}

.editProfileForm {
  border-style: var(--tw-border-style);
  border-width: 1px;
  border-color: var(--main-bordercolor);
  border-radius: var(--radius-xl);
  padding: calc(var(--spacing) * 2.5);
  font-size: var(--text-lg);
  line-height: var(--tw-leading, var(--text-lg--line-height));
}
.editProfileForm:focus {
  outline: none;
  border-color: #008bd9;
}
